.listing-details-container {

text-align: justify;


}

.listing-details-container p{


hyphens: none;

}

.hide {
display: none;
}

.visible-tablet > .row > .col-12 {

	display: none;
}

.fa {

  color: #4990e2;
  padding: 0 10px;
}

.mobilesocial {
  margin: 0 auto;
  display: table;
  padding: 10% 0;
}

/*  New Listings page */

html[lang=it] #new_listing label[for=listing_description] {

	content: "Descrizione dettagliata in inglese";
}