.listing-details-container {

text-align: justify;


}

.listing-details-container p{


hyphens: none;

}

.hide {
display: none;
}

/*
.visible-tablet > .row > .col-12 {

	display: none;
}
*/

/* hide studio and location categories 
.visible-tablet > .row > .col-12 > a:nth-of-type(2), .visible-tablet > .row > .col-12 > a:nth-of-type(3) {

  display: none;
}

*/


.fa {

  color: #4990e2;
  padding: 0 10px;
}

.mobilesocial {
  margin: 0 auto;
  display: table;
  padding: 10% 0;
}

/*  "New Listings" page */

html[lang=it] #new_listing label[for=listing_description] {

	visibility: hidden;

	}

html[lang=it] #new_listing label[for=listing_description]:after {

	content: "Descrizione dettagliata in inglese";
	visibility: visible;
  display: block;

}




/* Listing page */

html[lang=it] div.listing-details-container div:nth-child(2) > .col-12:before {

	content: "Descrizione in inglese: ";
	font-weight: bold;
}

html[lang=en] div.listing-details-container div:nth-child(2) > .col-12:before {

	content: "Description: ";
	font-weight: bold;
}


/*placeholder style */


input:placeholder {

	 font-weight: bold;
  color: #000 !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold;
  color: #000 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
   font-weight: bold;
  color: #000 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
   font-weight: bold;
  color: #000 !important;k;
}
input:-moz-placeholder { /* Firefox 18- */
   font-weight: bold;
  color: #000 !important;
}


/* Banner height and center slogan */

@media screen and (min-width: 996px) {

.marketplace-lander figure.marketplace-cover {
  height: 30em;
}

.marketplace-lander .marketplace-lander-content {
    padding: 10em 1em;
}

}




#chargeable > .row > .col-4 > .checkbox-option > .checkbox-option-checkmark > i::before {
  
  content: '\20ac';
  font-size: 1.2em;
  vertical-align: baseline;
}

#listing-contact {
 background: #4a90e2;
 color: white;

}

#sidewinder-wrapper > article > .wrapper > .left-navi > a:nth-child(2) > .left-navi-link-text, #sidewinder-wrapper > article > .wrapper > .left-navi-dropdown>div:nth-child(2), #how_to_use_left_navi_link > div:nth-child(2) {
  
  display:none;
  
}


#sidewinder-wrapper > article > .wrapper > .left-navi > a:nth-child(2) > .left-navi-link-icon:after {
  
  content: "FAQ";
  padding: 0 0.5em 0 0.5em;
  
}

#sidewinder-wrapper > article > .wrapper>.left-navi-dropdown:after  {
  
  content: "FAQ";
 
  
  
}

#how_to_use_left_navi_link > div:nth-child(1):after {

  content: "FAQ";
  padding: 0 0.5em 0 0.5em;


}

a[title~="Powered"] {
  display: none !important;
  
}
